@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shimmer-effect {
  background: linear-gradient(270deg, rgba(45, 55, 72, 0), #2d3748, rgba(45, 55, 72, 0)); /* Dark background gradient */
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear; /* Added 'linear' for a smoother transition */
}

@keyframes shake {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(-8px); }
  50% { transform: translateY(8px); }
  75% { transform: translateY(-4px); }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

/* Type Writer */
/* Type Writer */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.typewriter {
  overflow: hidden;

  white-space: nowrap;
  margin-right: 10px; /* Adjust margin-right to move the typewriter text to the left */
  padding-right: 10px; /* Add padding-right to create space for the caret */
  text-align: left; /* Align text to the left */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

